:root {
    --text-color: black;
    --background: whitesmoke;
    --background-gradient: -webkit-linear-gradient(bottom, whitesmoke, lightgrey);
    --link-color: rgb(244, 18, 36);
    --toggle-bg-color: whitesmoke;
    --toggle-bg-hover-color: #121212;
    --toggle-text-color: rgba(255, 255, 255, 0.87);
}

.darkTheme {
    --text-color: rgba(255, 255, 255, 0.87);
    --background: #121212;
    --background-gradient: -webkit-linear-gradient(bottom, #121212, lightslategray);
    --toggle-bg-color: #121212;
    --toggle-bg-hover-color: whitesmoke;
    --toggle-text-color: black;
}

html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background: var(--background);
    color: var(--text-color);
    font-size: large;
    font-family: "PT Sans", "Times New Roman", serif;
}

.layout__header {
    width: 300px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 25px;
    float: left;
    background-image: var(--background-gradient);
}

.layout__header_avatar {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-image: url("../img/avatar.webp");
    background-size: cover;
    margin: 20px;
    transition-property: transform, filter;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.layout__header_avatar:hover {
    transform: scale(1.05);
    filter: saturate(150%);
}

.layout__header_info {
    margin-top: 0;
    margin-bottom: 0;
}

.layout__header_info p {
    font-size: large;
}

.layout__header_info ul {
    padding: 0;
    display: flex;
    flex-basis: content;
    gap: 15px;
    list-style: none;
}

.layout__main {
    width: 50%;
    margin: 0 auto;
    padding: 0;
    border-radius: 25px;
    background-image: var(--background-gradient);
}

.layout__main_caption {
    margin: 10px;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: xxx-large;
}

.layout__main_about {
    margin: 10px;
    padding: 15px;
    text-align: left;
    font-weight: normal;
    font-size: x-large;
}

.layout__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.layout__footer_toggle_theme {
    position: fixed;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    height: 42px;
    bottom: 10px;
    left: 15px;
    color: var(--text-color);
    background-color: var(--toggle-bg-color);
    border: none;
    font-size: medium;
    border-radius: 25px;
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

#themeIcon {
    padding-right: 8px;
}

.layout__footer_toggle_theme:active {
    transform: scale(.95);
}

.layout__footer_toggle_theme:hover {
    color: var(--toggle-text-color);
    background-color: var(--toggle-bg-hover-color);
    cursor: pointer;
}

.layout__footer_copyright {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    font-size: large;
    user-select: none;
}

a:link {
    margin: 0;
    padding: 0;
    color: rgb(0, 137, 255);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
    transition-property: color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}

a:visited {
    color: rgb(180, 14, 180);
}

a:hover {
    color: var(--link-color);
}

a:active {
    color: var(--link-color);
}
