html, body, div, span {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background: whitesmoke;
    color: black;
    font-size: large;
    font-family: "PT Sans", "Times New Roman", serif;
}

.layout__header {
    width: 300px;
    margin-left: 10px;
    padding: 20px;
    border-radius: 25px;
    float: left;
    background-image: -webkit-linear-gradient(bottom, whitesmoke, lightgrey);
}

.layout__header_avatar {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-image: url("../img/avatar.webp");
    background-size: cover;
    margin: 20px;
    transition-property: box-shadow, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.layout__header_avatar:hover {
    box-shadow: 0 0 25px lightskyblue;
    transform: scale(1.01);
}

.layout__header_info {
    margin-top: 0;
    margin-bottom: 0;
}

.layout__header_info p {
    font-size: large;
}

.layout__header_info ul {
    padding: 0;
    word-spacing: 15px;
}

.layout__main {
    width: 50%;
    margin-left: 360px;
    padding: 0;
    border-radius: 25px;
    background-image: -webkit-linear-gradient(bottom, whitesmoke, lightgrey);
}

.layout__main_caption {
    margin: 10px;
    padding: 0;
    text-align: left;
    font-weight: bold;
    font-size: xxx-large;
}

.layout__main_about {
    margin: 10px;
    padding: 15px;
    text-align: left;
    font-weight: normal;
    font-size: x-large;
}

.layout__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-image: -webkit-linear-gradient(top, whitesmoke, lightgrey);
}

.layout__footer_copyright {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-weight: normal;
    font-size: large;
}

a:link {
    color: rgb(0, 137, 255);
    margin: 0;
    padding: 0;
    text-decoration: underline;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

a:visited {
    color: rgb(180, 14, 180);
}

a:hover {
    color: rgb(244, 18, 36);
}

a:active {
    color: rgb(244, 18, 36);
}
